:root{
    --cor-principal: #ffffff;
    --botao-destaque: rgb(255, 255, 255);
    --cor-de-fundo: #00030c;
    --cor-secundaria: #167BF7;
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url(./ne.png);
    font-size: 50px;
    background-size:cover;
    background-repeat: no-repeat;
    
}
.container{
    height: 100vh;
}
.container--botao{
background-color: var(--botao-destaque);
color:#167BF7;
padding: 1em;
}